POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpassword123
POSTGRES_DB=resumebuilder

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
DOTNET_USE_POLLING_FILE_WATCHER=1
HttpHosting__UseHsts=false
HttpHosting__UseHttpsRedirection=false

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=resumebuilder;Username=devuser;Password=devpassword123

Jwt__Key=ResumeBuilderDevKey_ChangeThisBeforeProduction_123456789
Jwt__Issuer=ResumeApp.API
Jwt__Audience=ResumeApp.Mobile
Jwt__ExpirationInMinutes=120

ApiBaseUrl=https://localhost:7082
AppScheme=myresumebuilder

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_SERVICE_NAME=ResumeApp.API

FeatureFlags__EmailOtpDelivery=false

Smtp__Host=smtp.mailgun.org
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__From=hey@bishwas.me
Smtp__SenderName=ResumeApp
Smtp__EnableSsl=true

AiService__BaseUrl=http://host.docker.internal:11434/api/generate
AiService__ApiKey=
AiService__Model=
AiService__TimeoutSeconds=60

ResumeDraftProcessing__ProcessInBackground=true

AzureBlob__ConnectionString=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;
AzureBlob__ProfileImagesContainer=profile-images
AzureBlob__ProfileImagesBasePath=
AzureBlob__ResumesContainer=resumes
AzureBlob__ResumesBasePath=
